<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Lab Monitor History</title>
    <meta http-equiv="refresh" content="30">
</head>

<body>
    <div class="main-container">
        <div class="container">
            <div class="sub-container">
                <div class="button-container">
                    <a href="/" class="button">
                        <img class="svg" src="{{ url_for('static', filename='imgs/home.svg') }}"> Home
                    </a>
                    <a href="/settings" class="button">
                        <img class="svg" src="{{ url_for('static', filename='imgs/settings.svg') }}"> Settings
                    </a>
                    <a href="/clear_history" class="delete-button">
                        Clear
                    </a>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Event</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody id="history">
                        {% for event in history %}
                        <tr>
                            <td>{{ event.event }}</td>
                            <td>{{ event.time }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>