<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index-style.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/history-script.js' ) }}"></script>
    <title>GSM Alarm</title>
    <meta http-equiv="refresh" content="30">
</head>

<body>
    <div class="main-container">
        <div class="container">
            <div class="sub-container">
                <div class="button-container">
                    <a href="/" class="button"> <img class="svg"
                            src="{{ url_for('static', filename='imgs/home.svg') }}"> Home </a>
                    <a href="/settings" class="button"> <img class="svg"
                            src="{{ url_for('static', filename='imgs/settings.svg') }}"> Settings </a>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>History</th>
                        </tr>
                    </thead>
                    <tbody id="history">
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    </div>
</body>

</html>