<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index-style.css') }}">
    <script src="{{ url_for('static', filename='js/index-script.js') }}"></script>
    <title>Control Panel</title>
</head>

<body>
    <div class="main-container">
        <div class="container">
            <div class="sub-container">
                <h2>Lab Conditions</h2>
                <table>
                    <tr>
                        <th>Parameter</th>
                        <th>Value</th>
                    </tr>
                    <tr>
                        <td>Temperature</td>
                        <td>22°C</td>
                    </tr>
                </table>
            </div>

            <div class="sub-container">
                <h2>Current Alarm Settings</h2>
                <table>
                    <tr>
                        <th>Parameter</th>
                        <th>Min</th>
                        <th>Max</th>
                    </tr>
                    <tr>
                        <td>Temperature</td>
                        <td>18°C</td>
                        <td>25°C</td>
                    </tr>
                </table>
            </div>

        </div>

        <div class="container">
            <div class="form-section">
                <h2>Configure Alarm</h2>
                <form id="temp-form">
                    <div class="input-group">
                        <div class="input-field">
                            <label for="max-temp">Max Temperature (°C):</label>
                            <input type="number" id="max-temp" name="max-temp" min="-50" max="50">
                        </div>
                    </div>
                    <button type="submit" class="button">Save Configuration</button>
                </form>
            </div>
        </div>

        <div class="container">
            <div class="form-section">
                <h2>Add Phone Number</h2>
                <form id="phone-form">
                    <div class="input-group">
                        <div class="input-field">
                            <input type="text" id="name" name="name" placeholder="Enter Name">
                            <input type="tel" id="phone" name="phone" placeholder="Enter phone number">
                        </div>
                        <div class="input-field">

                        </div>
                    </div>
                    <button type="submit" class="button">Add Number</button>
                </form>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Phone Number</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Cengiz Beytaz</td>
                            <td>+1 (123) 456-7890</td>
                            <td><button class="delete-button">Delete</button></td>
                        </tr>
                        <tr>
                            <td>Pedro Ventura</td>
                            <td>+1 (987) 654-3210</td>
                            <td><button class="delete-button">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>