<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index-style.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/index-script.js') }}"></script>
    <title>GSM Alarm</title>
</head>

<body>
    <div class="main-container">
        <div class="status">
            <div class="time" id="pi-time">
                Loading...
            </div>
            <div class="icon">
                <img src="{{ url_for('static', filename='imgs/signal-strength-0.svg') }}" id="signal-strength"
                    alt="Signal">
                <span id="signal-type">Loading...</span>
            </div>
            <div class="icon">
                <img src="{{ url_for('static', filename='imgs/battery-1.svg') }}" id="battery-icon" alt="Signal">
                <span id="battery">Loading...</span>
            </div>
        </div>

        <div class="container">
            <div class="sub-container">
                <a href="/settings" class="button"> <img class="svg"
                        src="{{ url_for('static', filename='imgs/settings.svg') }}"> Settings </a>
                <table>
                    <tr>
                        <th>Parameter</th>
                        <th>Value</th>
                    </tr>
                    <tr>
                        <td>Location</td>
                        <td id="location">Loading...</td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td id="armed">Loading...</td>
                    </tr>
                    <tr>
                        <td>Current Temperature</td>
                        <td id="lab-temperature">Loading...</td>
                    </tr>
                    <tr>
                        <td>Max Temperature(°C):</td>
                        <td id="max-temp">Loading...</td>
                    </tr>
                    <tr>
                        <td>Hysteresis(°C):</td>
                        <td id="hysteresis">Loading...</td>
                    </tr>
                    <tr>
                        <td>Alert Interval(minutes):</td>
                        <td id="alert-interval">Loading...</td>
                    </tr>
                    <tr>
                        <td>Daily report time:</td>
                        <td id="daily-report">Loading...</td>
                    </tr>
                    <tr>
                        <td>Send Daily Reports?</td>
                        <td id="send-daily-report">Loading...</td>
                    </tr>
                    <tr>
                        <td>Running on </td>
                        <td id="power">Loading...</td>
                    </tr>
                </table>

            </div>
        </div>

        <div class="container">
            <h2>Phone Number List</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th>Daily Reports</th>
                    </tr>
                </thead>
                <tbody id="phone-numbers">
                </tbody>
            </table>
        </div>


    </div>
</body>

</html>